@use "./variables.scss" as varr;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 1200px) {
    font-size: 55%;
  }

  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }

  @media screen and (max-width: 700px) {
    font-size: 45%;
  }
}

body {
  font-family: varr.$app-font, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: varr.$text_color;
  background-color: varr.$main__backg;
  font-size: varr.$main_font;
}
