@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&family=Rubik:wght@400;500;600;700&display=swap");

$app-font: "Roboto", sans-serif;

// spacing
$gap_main: 1.5rem;
$gap_L: 2rem;
$gap_cardtext: 0.5rem;
$main_font: 1.8rem;
$main_side_padding: 10rem;
$leftside_padding: 2.5rem 0;
$padding_links: 1.4rem;
$padding_left: 0.7rem 1.2rem;
$padding_cards: 2rem 1.5rem;
$text_height: 1.4;

// color
$main__backg: #000;
$main__yellow: #ffd700;
$secondary__yellow: #b39700;

$text_color: #ffd700;
$bg_color: #f5f5f5;
$main_blue: #3b49df;
$mainBlue_hover: #3542c9;
$hover_bg: #d8dbf9;
$white_bg: #ffffff;
$right__bg_white: #faf9f9;

$box_shadow: 0px 0px 5px 0px rgba(156, 156, 156, 0.35);
$border_radius_main: 0.5rem;

$transition: all 0.3s linear;
