@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@100;400;500;700&family=Tapestry&display=swap");

$app-font: "Roboto", sans-serif;
$head-font: "Macondo", sans-serif;

$main_font: 1.8rem;

// color
$main__backg: #000;
$main__yellow: #ffd700;
$secondary__yellow: #b39700;

$text_color: #ffd700;

$box_shadow: 0px 0px 8px -2px rgba(255, 215, 0, 0.8);

$border_radius_main: 0.5rem;

$transition: all 0.3s linear;
